/**
 * @name Needy Streamer Overload!
 * @author _xangelkawaiix_
 * @description Inspired by Needy Streamer Overload
 * @version 1.1.2
 */
 
 /*
 v1.1.1 changes
- fixed + tab not working on messages
 */
 
@import url("https://minidiscordthemes.github.io/Squared/sq.min.css");

:root {
	--pink: #f0d1f1;
	--purple: #4d23cf;
	--blue: #90f4e4;
	--white: #fff;
	--bluetex: #6eb5df;
	--header-primary: #4d23cf;
	--header-secondary: #4d23cf;
	--background-primary: var(--white);
	--background-secondary: var(--white);
	--channel-icon: var(--purple);
	--interactive-active: var(--bluetex);
	--bg-overlay-selected: var(--white);
	--channels-default: var(--purple);
	--background-tertiary: var(--pink);
	--text-muted: var(--purple);
	--background-secondary-alt: var(--pink);
	--interactive-normal: var(--purple);
	--text-normal: var(--purple);
	--channeltextarea-background: var(--pink);
	--embed-title: #4d23cf;
	--mention-foreground: var(--white);
	--mention-background: var(--purple);
	--__header-bar-background: var(--pink);
	--channel-icon: var(--purple);
	--background-modifier-selected: var(--white);
	--text-positive: var(--purple);


	--font-primary: "Zpix";
	--font-display: "Zpix";
    --font-headline: "Zpix";

.username_f9f2ca, .name_d808b0{
	text-shadow: 1px 1px 2px var(--purple);
}

/* Left side bar */
	
.guilds_a4d4d9 {
    background: var(--pink);
	border: 3px solid var(--blue)
}

.guilds_a4d4d9::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px double var(--purple);
}

/* CHANNELS BAR */

.sidebar_a4d4d9 {
    border: 3px solid var(--purple)
}



/* CHANNEL CATEGORIES */

.wrapperCommon_a08117 {
	height: 40px;
	background: var(--pink);
	border: 3px solid var(--blue)
}

.wrapperCommon_a08117::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px double var(--purple);
}

.container_a5ad5c {
    text-align: center;
    letter-spacing: .1em;
	font-size: 14px;
}

/* server name */

.container_fd6364 {
	background: var(--pink);
    border: 3px solid var(--blue)
}

.container_fd6364::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px double var(--purple);
}

/* LIVE NOW */

.container_fa295b{
    background: var(--pink);
	border: 3px solid var(--blue)
}

.wrapperCommon_a08117::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px double var(--purple);
}

/* USER PROFILE */

.panels_a4d4d9 {
    flex: 0 0 auto;
    background-color: var(--background-secondary-alt);
    z-index: 2;
	border: 3px solid var(--purple);
}

/* CHANNEL TOP BAR */

.subtitleContainer_a7d72e {
    background: var(--pink);
	border: 3px solid var(--purple)
}

.title_a7d72e {
    background: var(--pink);
	

}

/* chat */

.scrollableContainer_d0696b {
    border: 3px solid var(--purple)
}

.button_df39bd {
    border: 3px solid var(--blue)
}

.button_df39bd::after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px double var(--purple);
}

.embedFull_b0068a{
	background: var(--pink);
}

/* user list */

.container_cbd271{
    border: 3px solid var(--purple)
}


.membersGroup_cbd271{
	background: var(--pink);
	padding: 9px 8px 0 16px;
    height: 40px;
	border: 3px solid var(--purple)
}
	
/* Friends */

.container_fc4f04{
	background: var(--pink);
	border: 3px solid var(--blue)
}

.container_fc4f04::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px double var(--purple);
}

.icon_fc4f04 {
    color: var(--purple);
}

.defaultColor_e9e35f {
    color: var(--purple);
}

.topPill_a0 .themed_a0.selected_a0.item_a0, .side_a0 .themed_a0.selected_a0.item_a0 {
    background-color: var(--white);
}

.selected_a0.item_a0, .selected_a0.item_a0:hover {
    cursor: default;
    color: var(--purple);
}

/* pinned messages*/

.messagesPopoutWrap_ac90a2 {
    background-color: var(--background-secondary);
    box-shadow: var(--shadow-border), var(--shadow-high);
    width: 420px;
    min-height: 200px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
	border: 3px solid var(--blue)
}

.messagesPopoutWrap_ac90a2::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px double var(--purple);
}

.header_ac90a2 {
    background-color: var(--pink);
}

.messagesPopoutWrap_ac90a2 {
    background-color: var(--white);
}

.footer_ac90a2 {
    padding: 16px;
    text-align: center;
    background-color: var(--pink);
}

.body_ac90a2 {
    color: var(--purple);
}

.pro_b5053a {
    color: var(--purple);
}

.defaultColor_a595eb {
    color: var(--purple);
}

/* inbox*/

.container_f1c3d9 {
    background-color: var(--pink);
    box-shadow: var(--shadow-border), var(--shadow-high);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
	border: 3px solid var(--blue)
}

.container_f1c3d9::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px double var(--purple);
}

.messages_c06487 {
    background-color: var(--white);
    border-radius: 8px;
    padding: 16px;
    padding-left: 0;
}

.channelHeader_f3978e {
    align-items: center;
    background-color: var(--pink);
    box-sizing: border-box;
    display: flex;
    height: 64px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.markup_f8f345 {
    color: var(--purple);
}

}