/* Discord Bar */
.titleBar_a934d8{
	margin:unset;
	position:
	absolute;
	left:272px;
	right:122px;
	top:52px;
	z-index:102}
.titleBar_a934d8{
	background:padding-box var(--pink);
	border:2px solid rgba(0,0,0,0);
	color:var(--purple);
	font-size:1rem;
	font-weight:bold;
	height:18px;
	line-height:1.2rem;
	padding:2px}
.titleBar_a934d8 .wordmarkWindows_a934d8::before{
	content:"Windose";
	display:block;
	position:relative;
	font-size:1rem;
	color:var(--purple)}
.titleBar_a934d8 .wordmarkWindows_a934d8 svg{
	display:none}